body {
  margin: 0;
  font-family: Georgia, serif;
  padding-top: 120px;
  background-image: url(imagenes/Que-es-la-violencia-de-genero-y-como-se-manifiesta2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

}

.menu {
  background-color: #d8a8d8; /* Lila */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  opacity: 0.8;
  z-index: 9999;
}
.menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.menu li{
  margin-right: 0 50px;

}
.menu a{
  text-decoration:none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  display: inline-block;
  transition: background-color 0.3s ease, font-weight 0.3s ease; 
}

/*Efecto al pasar por el mouse*/
.menu a:hover{
  background-color: purple;
  font-weight: bold;
  cursor: pointer;
  border-radius: 100px;
}
#mipagina {
  font-size: 40px;
}

.text {
  height: 2px;
  color: #d8a8d8;
}

.violenciapsicologica {
  background-color: rgba(212, 196, 211, 0.222);
}

.tipos {
  font-size: 2em;
  color: #d8a8d8;
  
}

.tarjeta {
  color: white;
  background-color: #d5259d;
  font-family: Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 17px;
  border-radius: 40px;
  margin: 50px
}

div .violenciapsicologica{
  width: 200px;
  padding: 20px;
  border: 5px solid black;
  margin: 10px;
  
}

@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&display=swap');

.momo-signature-regular {
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
}

button {
  background-color: lightgray;
  border: none;
  padding: 20px 40px;
  font-size: 22px;
  cursor: pointer;
  border-radius: 40px;
}
button:hover {
  background-color: rgb(77, 0, 230);
  color: white;
  width: 220px;
  padding: 40px;
  border: 10px solid white;
  margin: 30px;

}
input {
  border: 2px solid gray;
  padding: 5px;
  outline: none; 

}

input:focus {
  border-color: #000 !important;
  background-color: #fff !important;
}

li:first-child{
  color: rgb(132, 0, 255);
}

li:last-child{
  color: rgb(174, 124, 184);
}

.btn{
  background-color: rgba(0, 0, 255, 0.697);
  color: #060505;
  padding: 20px;
  font-size: 10px;
  border-radius: 60px;
  transform: translateX(20px);
  cursor: pointer;
}

div {
  flex-direction: row;
  justify-content: space-around;
  border-top: 80px;

}

img {
  border-radius: 100px;
  width: 200px;
  height: 200px;

}

.container {
  display: flex;
  justify-content: space-around;

}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.imagen-centrada {
  position: absolute;
  top: 120px; 
  left: 50%;
  transform: translateX(-50%);
  width: 400px; 
  height: auto;
 
}
